chat {
    position: fixed;
    display: block;
    bottom: 40px;
    right: 40px;
    background-color: aquamarine;
    padding: 20px;
    font-size: 1em;
    transform: translateY(100px);
    animation: pulse 5s ease-out 1s infinite;
    font-family: montserrat;
}

chat>div {
    animation: pulse 5s ease-in-out infinite;
    background-color: aquamarine;
    padding: 20px;
}

chat a {
    text-decoration: none;
    color: black;
}

@keyframes show-chat {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: aquamarine;
        font-size: 0.7em;
    }
    50% {
        transform: scale(1);
        background-color: rgb(213, 255, 241);
        font-size: 0.8em;
    }
    100% {
        transform: scale(1);
        background-color: #eefffe;
        font-size: 0.9em;
    }
}